body{
   
    background: linear-gradient(to left,rgb(34, 52, 90),rgb(27, 22, 63));
}

.container-lg{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#2B5876,#4e427c);
    border-radius: 4px;
   
}

.header_component{
    height: 110px;
}

.introduccion{
    width: 500px;
    margin: 20px;
    padding: 10px;
    color: rgb(1,2,56);
}

.subT{
    font-size: 20px;
    color: rgb(59, 176, 150);

}

.infoP{
    font-size: 20px;
}

.imagen{
    margin-top: 6px;
    margin-bottom: 6px
}

.informacion{
    width: 100%;
    margin: 20px; 
}

.documation{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    row-gap: 5px;
    width: 90%;
    text-align: center;
}

.item{
    height: 300px;
    background: linear-gradient(to left,rgb(43, 67, 119),rgb(37, 30, 88));
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
}


.ejemplo{
    width: 600px; 
    border-radius: 6px;
}

.fondoP {
    width: 550px; 
    border-radius: 8px;
}

@media(max-width:834px){
    .documation{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: auto;
        row-gap: 5px;
        width: 100%;
        text-align: center;
        color: aquamarine;
        
    }

    .informacion{
        width: 100%;
        color: white;
        padding: 10px;
        margin: 20px;
        font-family:Arial, Helvetica, sans-serif;
    }

    .header_component{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 10px;
        margin: 6px;
        flex-wrap: wrap;
    }
}

@media(max-width:798px){
    .ejemplo{
        width: 300px; 
        
    }

    .fondoP {
        width: 300px; 
        
    }

    .btn_link{
        width: 70px;
        height: 40px;
    }

    .ul_list{
        display: flex;
        flex-direction: row;
        margin: 10px;
      
    }

}

@media(max-width:599px){

    .header_component{
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
      
    }

    .ul_list{
        width: 200px;
       margin-right: 350px;
       
      
    }

    .btn_link{
        width: 60px;
        height: 20px;
    }
   
   .logo_library{
    border: 2px solid gray;
  
   }
    
}

@media(max-width:580px){

    .header_component{
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
      
    }

    .ul_list{
        width: 200px;
       margin-right: 420px;
       
      
    }

    .btn_link{
        width: 60px;
        height: 20px;
    }
   
   .logo_library{
    border: 2px solid gray;
  
   }
    
}


@media(max-width:579px){

    .container{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .container-lg{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .introduccion{
        width: 100%;
        display: flex;
        flex-direction: column;

      }

      .ul_list{
        display: flex;
        flex-direction: row;  
        justify-content: space-between;
       
      }
    
}

@media(max-width:396px){

    .container{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

      }

     
      .header_component{
        width: 100%;
        display: flex;
        flex-direction: column;
      }

      .introduccion{
        width: 100%;
        display: flex;
        flex-direction: column;

      }

      .ul_list{
        width: 100%;
        display: flex;
        flex-direction: column;  
        justify-content: space-between;
       
      }
    
}
