.bg-black{
    background-color: $dark_bg_color_2;
}
.bg-ligth{
    background-color: $font_color;
}
.bg-dark{
    background-color: $dark_bg_color_1;
}
.bg-gray{
    background-color: $ligth_bg_color;
}

.bg-dark_sky{
    background: $dark_sky;
}

.bg-Night_blue{
    background: $Night_blue;
}

.SecondaryD{
    background-image: $SecondaryD;
}

.LlamasD{
    background: $LlamasD;
}

.bg-AzulOpaco{
    background-color: $AzulOpaco;
}
.bg-Primary{
    background-color: $Primary;
}
.bg-Secondary{
    background-color: $Secondary;
}
.bg-RedDark{
    background-color: $RedDark;
}
.bg-AquaCla{
    background-color: $AquaCla;
}
.bg-VeDark{
    background-color: $VeDark;
}
.bg-GrayGreem{
    background-color: $GrayGreem;
}
.bg-lightOs{
    background-color: $lightOs;
}
.bg-Gris1{
    background-color: $Gris1;
}
.bg-AmarilloPV{
    background-color: $AmarilloPV;
}
.bg-LilaPV{
    background-color: $LilaPV;
}
