.bg-black{
    background-color: $dark_bg_color_2;
}
.bg-ligth{
    background-color: $font_color;
}
.bg-dark{
    background-color: $dark_bg_color_1;
}
.bg-gray{
    background-color: $ligth_bg_color;
}