// variables globales
$padding_global: 0;
$margin_global: 0;
$box_sizing_global: border-box;

// variables del componente header
$wth_header: 100%;
$display_header: flex;
$justify_content_header: space-between;
$align_items_header: center;
$bg_header: rgb(42, 40, 41);
$padding_header: 15px 9%;

// variables del logo de la libreria
$wth_logo_library: 100px;
$height_logo_library: 100px;
$bor_radius_logo_library: 50%;

// variables de la lista desordenada de navegacion
$display_ul_list: flex;
$list_style_ul_list: none;

// variables de los item de la lista desordenada
$txt_decoration_a_link: none;
$color_a_link: white;
$margin_left_a_link: 35px;

// variables de barra de navegacion 2.0 en el apartado de boton con enlace
$color_a_btn: white;
$txt_decoration_a_btn: none;
$wth_btn_link: 100px;
$height_btn_link: 40px;
$bg_btn_link: rgb(77, 112, 209);
$bor_radius_btn_link: 20px;
$border_btn_link: transparent;

// variable de barra de navegacion 3.0 en el apartado de boton con enlace
$margin_left_btn_link: 10px;

// variables responsive tablet
$margin_left_responsive1: 20px; // barra 1.0 y 2.0
$margin_left_responsive2: 3px; // barra 3.0
$border_bottom: 1px solid white;
$wth_responsive1: 80px;
$height_responsive1: 35px;
$bor_radius_responsive: 22px;

// variables responsive mobile
$flex_direction_col: column;
$display_block: block;
$margin_bottom: 5px;
$wht_responsive2: 60px;
$height_responsive2: 50px;