@import 'navegation_bar_module_1';

* {
    padding: $padding_global;
    margin: $margin_global;
    box-sizing: $box_sizing_global;
}

.header_component {
    width: $wth_header;
    display: $display_header;
    justify-content: $justify_content_header;
    align-items: $align_items_header;
    background: $bg_header;
    padding: $padding_header;

    .logo_library {
        width: $wth_logo_library;
        height: $height_logo_library;
        border-radius: $bor_radius_logo_library;
    }

    .ul_list {
        display: $display_ul_list;
        list-style: $list_style_ul_list;
    }

    .a_link {
        text-decoration: $txt_decoration_a_link;
        color: $color_a_link;
        margin-left: $margin_left_a_link;
    }
}
