$card_1_heigth: 400px;
$card_1_width: 20%;
$card_2_heigth: 250px;
$card_2_width: 45%;

.card-img-1{
    width: 100%;
}
.card-img-2{
    height: 250px;
}
body{
    background-color: black;
}
//Targeta vertical numero 1
.card-1{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5fr, 1fr, 3fr;
    color: $font_color;
    background-color: $dark_bg_color_2;
    width: $card_1_width;
    align-items: center;
    justify-content: center;
    border: 1px solid $ligth_bg_color;
    border-radius: 5px;
    gap: 0;
    align-content: baseline;
    text-align: center;
}
.card-1-title{
    display: grid;
    background-color: $dark_bg_color_1;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    align-items: center;
    width: 100%;
    height: calc($card_1_heigth / 9);
}
.card-1-image{
    height: 100%;
    background-color: $Empty_color;
}
.card-1-description{
    width: 100%;
    padding-left: 3px;
    
    text-align: start;
}
//Targeta unica horizontal numero 2
.card-2{
    display:grid;
    width: $card_2_width;
    grid-template-columns: 1fr;
    color: $font_color;
    background-color: $dark_bg_color_2;
    justify-content: center;
    border: 1px solid $ligth_bg_color;
    border-radius: 5px;
}
.card-2-image{
    display: grid;
    height: 100%;
    background-color: $Empty_color;
    justify-content: center;
}
.card-2-body{
    display: grid;
    height: 100%;
    grid-template-rows: 1fr, 3fr;
    grid-template-columns: 1fr;

}
.card-2-title{
    display: grid;
    background-color: $dark_bg_color_2;
    border-bottom: 1px solid $ligth_bg_color;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    text-align: center;
    align-items: center;
    width: 100%;
    height: calc($card_2_heigth / 7);
}
.card-2-description{
    display: grid;
    width: 100%;
    padding-left: 3px;
    text-align: start;
}