 
.sidebar {
    margin: 0;
    padding: 0;
    width: 250px;
    background-color: $dark_bg_color_2;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: $font_color;
    padding: 8px;
    text-decoration: none;
  }
  .sidebar h3 {
    display: block;
    background-color: $dark_bg_color_1;
    color: $font_color;
    padding: 15px;
    text-decoration: none;
  }
  .sidebar a.active {
    background-color: $Primary;
    color: white;
  }
  .sidebar a:hover:not(.active) {
    background-color: $dark_bg_color_1;
    color: white;
  }
  
  div.content {
    margin-left: 150px;
    padding: 1px 8px;
    height: 1000px;
  }
  
  @media screen and (max-width: 800px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 500px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }