@charset "UTF-8";
/*Paleta de colores de la libreria Pure Vessel
 los cuales se basan en los usados en el juego hollow knight*/
/*Paleta de colores degradados*/
/*Paleta de colores normales */
/*Variebles responsive de las alertas*/
/*Para celular*/
body {
  background: linear-gradient(to left, rgb(77, 112, 209), rgb(1, 2, 56));
}

.botones {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.btnPV-btn-three, .btnPV-btn-Secondary, .btnPV-btn-Primary {
  height: 40px;
  min-width: 100px;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  margin: 5px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}
.btnPV-btn-three:hover, .btnPV-btn-Secondary:hover, .btnPV-btn-Primary:hover {
  cursor: pointer;
}

.btnPV-btn-Primary {
  width: 200px;
  height: 50px;
  border: 2px solid rgb(98, 196, 208);
  border-radius: 4px;
  background: rgba(249, 249, 250, 0.37);
  box-shadow: inset 0 0 20px 0 rgb(98, 196, 208);
  color: aqua;
  font-size: 15px;
}
.btnPV-btn-Secondary {
  background: rgb(59, 176, 150);
}
.btnPV-btn-three {
  width: 250px;
  height: 40px;
  position: relative;
  border-radius: 20px;
  background: linear-gradient(to left, #FE6244, rgb(245, 217, 105));
  border: 2px solid rgb(77, 112, 209);
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
  margin: 10px;
}
.btnPV-btn-Four {
  padding: 10px 20px;
  font-size: 1.5rem;
  position: relative;
  margin: 10px;
  color: rgb(245, 217, 105);
  background-color: rgb(170, 46, 35);
  cursor: pointer;
}
.btnPV-btn-Four::after, .btnPV-btn-Four::before {
  border: 3px solid rgb(245, 217, 105);
  content: "";
  position: absolute;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: transform 0.3s ease;
}
.btnPV-btn-Four:hover::after {
  transform: translate(-5px, -5px);
}
.btnPV-btn-Four:hover::before {
  transform: translate(5px, 5px);
}
.btnPV-btn-Five {
  position: relative;
  width: 200px;
  height: 50px;
  background-color: rgb(116, 151, 102);
  overflow: hidden;
  border: 1px solid green;
  border-radius: 8px;
  box-shadow: 6px 6px 0 rgb(45, 75, 57);
  color: darkgreen;
  cursor: pointer;
  margin: 5px;
}
.btnPV-btn-Five::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(45, 75, 57);
  z-index: -1;
  border-radius: 8px;
  transform: translateX(5px);
}
.btnPV-btn-Five:active {
  transform: translateX(5px);
}
.btnPV-btn-Five:active::before {
  transform: translateX(0);
}

.btn-outline {
  width: 200px;
  height: 60px;
  border-radius: 5px;
  background: transparent;
  font-size: 16px;
  margin: 10px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.5s all ease-in-out;
}
.btn-outlinePrimary {
  border: 1px solid rgb(209, 177, 204);
  color: rgb(209, 177, 204);
}
.btn-outlinePrimary:hover {
  background: rgb(209, 177, 204);
  color: white;
}
.btn-outlineSecondary {
  border: 1px solid #FE6244;
  color: #FE6244;
}
.btn-outlineSecondary:hover {
  background: #FE6244;
  color: white;
}

body {
  background: linear-gradient(to left, rgb(141, 138, 137), rgb(42, 40, 41));
}

/*Contenedor principal de las alertas*/
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.alerts-primary, .alerts-Secondary, .alerts-Exito, .alerts-info {
  width: calc(100% - 1rem - 30px);
  padding: 15px;
  margin: 0.5rem;
  border-radius: 10px;
  font-size: 1.5rem;
  letter-spacing: 5px;
  color: #fff;
}
.alerts-primary {
  background-color: rgb(59, 176, 150);
}
.alerts-Secondary {
  background-color: #FE6244;
}
.alerts-Exito {
  width: 600px;
  height: 30px;
  background-color: rgb(105, 209, 64);
  border: 2px solid green;
  font-size: 12px;
  font-family: "Times New Roman", Times, serif;
}
.alerts-Exito .exit {
  float: right;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 20px;
  background-color: transparent;
}
.alerts-info {
  width: 600px;
  height: 30px;
  margin: 10px;
  background-color: rgb(98, 196, 208);
  border: 2px solid rgb(6, 129, 245);
  font-size: 12px;
  font-family: "Times New Roman", Times, serif;
}
.alerts-info .exit {
  float: right;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 20px;
  background-color: transparent;
}

.Alerts-alt-Welcome, .Alerts-alt-Salir, .Alerts-alt-congratulations, .Alerts-alt-Error {
  width: 600px;
  border-radius: 4px;
  padding: 0.5rem;
  text-align: center;
  flex-direction: row;
  max-width: 30%;
  margin: 1rem;
  color: white;
}

.Alerts-alt-Error {
  background-color: rgb(170, 46, 35);
  border: 3px solid #FE6244;
}
.Alerts-alt-Error .btnError {
  width: 90px;
  height: 30px;
  background-color: rgb(170, 46, 35);
  border: 2px solid rgb(245, 217, 105);
  color: white;
  border-radius: 6px;
}
.Alerts-alt-congratulations {
  width: 600px;
  height: 120px;
  border: 2px solid rgb(42, 40, 41);
  padding: 0;
  /*Contenedores secundarios del diseño Congratulations*/
}
.Alerts-alt-congratulations .Principal {
  background-color: rgb(42, 40, 41);
}
.Alerts-alt-congratulations .secundario {
  background-color: rgb(141, 138, 137);
  height: 82px;
}
.Alerts-alt-congratulations .btnOk {
  width: 90px;
  height: 30px;
  background-color: rgb(141, 138, 137);
  border: 2px solid rgb(42, 40, 41);
  color: white;
  border-radius: 6px;
}
.Alerts-alt-Salir {
  background-color: rgb(198, 183, 190);
  border-radius: 10px;
  border: 3px solid rgb(87, 0, 128);
  color: rgb(1, 2, 56);
}
.Alerts-alt-Salir .salir {
  background-color: rgb(198, 183, 190);
  color: rgb(1, 2, 56);
  border: 2px solid rgb(87, 0, 128);
  font-size: 16px;
  float: right;
  margin: 4px;
}
.Alerts-alt-Welcome {
  width: 200px;
  background: linear-gradient(to left, rgb(77, 112, 209), rgb(1, 2, 56));
  font-size: 20px;
  border-radius: 16px;
  border: 2px solid rgb(34, 75, 189);
}
.Alerts-alt-Welcome .bien {
  width: 66px;
  height: 30px;
  background-color: rgb(98, 196, 208);
  border: 2px solid rgb(77, 112, 209);
  font-family: "Times New Roman", Times, serif;
}

@media (max-width: 362px) {
  .Alerts {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .alerts-Exito {
    width: 100%;
    height: 50px;
  }
  .alerts-Exito .exit {
    color: blue;
  }
  .alerts-info {
    width: 100%;
    height: 50px;
  }
  .alerts-info .exit {
    color: blue;
  }
}
@media (max-width: 306px) {
  .Alerts-alt-Error {
    width: 100%;
  }
  .Alerts-alt-Error .btnError {
    width: 100%;
  }
  .Alerts-alt-congratulations {
    width: 100%;
    font-size: 12px;
    height: 110px;
  }
  .Alerts-alt-congratulations .btnOk {
    width: 100%;
    background-color: black;
  }
  .Alerts-alt-Salir {
    width: 100%;
  }
  .Alerts-alt-Salir .salir {
    background: linear-gradient(to left, rgb(198, 183, 190), rgb(86, 90, 117));
    color: rgb(1, 2, 56);
    border: 2px solid rgb(190, 102, 231);
  }
  .Alerts-alt-Welcome {
    font-size: 18px;
  }
  .alerts-Exito {
    width: 100%;
    height: 50px;
  }
  .alerts-Exito .exit {
    color: blue;
  }
  .alerts-info {
    width: 100%;
    height: 50px;
  }
  .alerts-info .exit {
    color: blue;
  }
}
body {
  background: linear-gradient(to left, rgb(198, 183, 190), rgb(86, 90, 117));
}

.Badge-1 {
  background: linear-gradient(to left, rgb(141, 138, 137), rgb(42, 40, 41));
  border-radius: 6px;
  width: 200px;
  height: 40px;
  margin-top: 5px;
  padding: 10px;
  color: white;
}

.Badge-2 {
  background: linear-gradient(to left, rgb(141, 138, 137), rgb(42, 40, 41));
  border-radius: 6px;
  width: 150px;
  height: 40px;
  margin-top: 5px;
  padding: 10px;
  color: white;
}

.Badge-3 {
  background: linear-gradient(to left, rgb(141, 138, 137), rgb(42, 40, 41));
  border-radius: 6px;
  width: 100px;
  height: 40px;
  margin-top: 5px;
  padding: 10px;
  color: white;
}

.Badge-N1 {
  background: rgb(114, 168, 206);
  border-radius: 6px;
  width: 16px;
  height: 40px;
  margin-top: 5px;
  padding: 10px;
  color: white;
  border: 2px solid rgba(16, 116, 230, 0.932);
}

.Badge-N2 {
  background: rgb(116, 151, 102);
  border-radius: 6px;
  width: 20px;
  height: 40px;
  margin-top: 5px;
  padding: 10px;
  color: white;
  height: 20px;
  border: 2px solid green;
}

.Badge-In {
  background: #FE6244;
  border-radius: 6px;
  width: 20px;
  height: 40px;
  margin-top: 5px;
  padding: 10px;
  color: white;
  border-radius: 20px;
  font-size: 10px;
}

.Badge-In:hover {
  background-color: rgb(34, 52, 90);
}

.badge-bad-Forma2, .badge-bad-Forma, .badge-bad-pill3, .badge-bad-pill2, .badge-bad-pill {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 59px;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  margin: 5px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}
.badge-bad-Forma2:hover, .badge-bad-Forma:hover, .badge-bad-pill3:hover, .badge-bad-pill2:hover, .badge-bad-pill:hover {
  cursor: pointer;
}

.badge-bad-pill {
  background-color: rgb(59, 176, 150);
}
.badge-bad-pill2 {
  background-color: #FE6244;
  width: 70px;
}
.badge-bad-pill3 {
  background-color: rgb(170, 46, 35);
  width: 70px;
}
.badge-bad-Forma {
  background-color: rgb(98, 196, 208);
  border-radius: 50px;
  width: 30px;
  height: 30px;
}
.badge-bad-Forma2 {
  background-color: rgb(98, 196, 208);
  border-radius: 50px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header_component {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(42, 40, 41);
  padding: 15px 9%;
}
.header_component .logo_library {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.header_component .ul_list {
  display: flex;
  list-style: none;
}
.header_component .a_link {
  text-decoration: none;
  color: white;
  margin-left: 35px;
  border-bottom: 1px solid white;
}

/* version tablet */
@media (800px <= width <= 1000px) {
  .header_component .a_link {
    border-bottom: 1px solid white;
    margin-left: 20px;
  }
}
/* version mobile */
@media (600px <= width < 800px) {
  .ul_list {
    flex-direction: column;
  }
  .header_component .a_link {
    display: block;
    border-bottom: 1px solid white;
    margin-bottom: 5px;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header_component {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(42, 40, 41);
  padding: 15px 9%;
}
.header_component .logo_library {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.header_component .ul_list {
  display: flex;
  list-style: none;
}
.header_component .a_link {
  text-decoration: none;
  color: white;
  margin-left: 35px;
  border-bottom: 1px solid white;
}
.header_component .a_btn_link {
  color: white;
  text-decoration: none;
}
.header_component .btn_link {
  width: 100px;
  height: 40px;
  background: rgb(77, 112, 209);
  border-radius: 20px;
  border: transparent;
}

/* version tablet */
@media (800px <= width <= 1000px) {
  .header_component .a_link {
    margin-left: 20px;
    border-bottom: 1px solid white;
  }
}
/* version mobile */
@media (600px <= width < 800px) {
  .ul_list {
    flex-direction: column;
  }
  .header_component .a_link {
    display: block;
    border-bottom: 1px solid white;
    margin-bottom: 5px;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header_component {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(42, 40, 41);
  padding: 15px 9%;
}
.header_component .logo_library {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.header_component .ul_list {
  display: flex;
  list-style: none;
}
.header_component .a_btn_link {
  color: white;
  text-decoration: none;
}
.header_component .btn_link {
  width: 100px;
  height: 40px;
  background: rgb(77, 112, 209);
  border-radius: 20px;
  border: transparent;
  margin-left: 10px;
}

/* version tablet */
@media (800px <= width <= 1000px) {
  .header_component .btn_link {
    width: 80px;
    height: 35px;
    border-radius: 22px;
    margin-left: 3px;
  }
}
/* version mobile */
@media (600px <= width < 800px) {
  .header_component .btn_link {
    width: 60px;
    height: 50px;
    border-radius: 22px;
    margin-left: 3px;
  }
}
.card-img-1 {
  width: 100%;
}

.card-img-2 {
  height: 250px;
}

body {
  background-color: black;
}

.card-1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5fr, 1fr, 3fr;
  color: rgb(255, 255, 255);
  background-color: rgb(30, 30, 30);
  width: 20%;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(93, 93, 93);
  border-radius: 5px;
  gap: 0;
  align-content: baseline;
  text-align: center;
}

.card-1-title {
  display: grid;
  background-color: rgb(63, 63, 63);
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  align-items: center;
  width: 100%;
  height: 44.4444444444px;
}

.card-1-image {
  height: 100%;
  background-color: rgb(75, 75, 75);
}

.card-1-description {
  width: 100%;
  padding-left: 3px;
  text-align: start;
}

.card-2 {
  display: grid;
  width: 45%;
  grid-template-columns: 1fr;
  color: rgb(255, 255, 255);
  background-color: rgb(30, 30, 30);
  justify-content: center;
  border: 1px solid rgb(93, 93, 93);
  border-radius: 5px;
}

.card-2-image {
  display: grid;
  height: 100%;
  background-color: rgb(75, 75, 75);
  justify-content: center;
}

.card-2-body {
  display: grid;
  height: 100%;
  grid-template-rows: 1fr, 3fr;
  grid-template-columns: 1fr;
}

.card-2-title {
  display: grid;
  background-color: rgb(30, 30, 30);
  border-bottom: 1px solid rgb(93, 93, 93);
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  text-align: center;
  align-items: center;
  width: 100%;
  height: 35.7142857143px;
}

.card-2-description {
  display: grid;
  width: 100%;
  padding-left: 3px;
  text-align: start;
}

.container-sm {
  width: 550px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "box1" "box2";
  padding-right: 25px;
  padding-left: 25px;
  margin-right: auto;
  margin-left: auto;
}

.container-md {
  width: 800px;
  padding-right: 25px;
  padding-left: 25px;
  margin-right: auto;
  margin-left: auto;
}

.container-lg {
  width: calc(100% - 50px);
  padding-right: 25px;
  padding-left: 25px;
  margin-right: auto;
  margin-left: auto;
}

.container-title {
  background-color: rgb(63, 63, 63);
}

.container-group-2u {
  width: 550px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  gap: 5px;
}

.container-group-3u {
  width: 100%;
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-template-rows: auto;
  gap: 5px;
}

.container-group-4u {
  width: 100%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto;
  gap: 5px;
}

.row {
  display: flex;
  height: auto;
}

.col-1 {
  width: 12.5%;
}

.col-2 {
  width: 25%;
}

.col-3 {
  width: 37.5%;
}

.col-4 {
  width: 50%;
}

.col-5 {
  width: 62.5%;
}

.col-6 {
  width: 75%;
}

.col-7 {
  width: 87.5%;
}

.col-8 {
  width: 100%;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8 {
  overflow-wrap: break-word;
}

.colors {
  color: rgb(255, 255, 255);
}

.color-1 {
  background-color: black;
}

.color-2 {
  background-color: brown;
}

form {
  background-color: rgb(30, 30, 30);
  margin: 10px;
  border: 1px solid rgb(93, 93, 93);
  border-radius: 5px;
}

input {
  width: calc(100% - 20px);
  height: 30px;
  border: 1px solid rgb(93, 93, 93);
  background-color: rgb(63, 63, 63);
  padding: auto;
  margin: 10px;
  text-justify: distribute;
  border-radius: 5px;
  color: rgb(255, 255, 255);
}

.input-1 {
  height: 30px;
}

.input-2 {
  height: 60px;
}

.input-3 {
  height: 90px;
}

label {
  margin: 10px;
  font-style: normal;
  color: rgb(255, 255, 255);
}

.form-title {
  font-size: larger;
  font-weight: bold;
  background-color: rgb(63, 63, 63);
  border-bottom: 1px solid rgb(93, 93, 93);
  padding: 5px;
}

.form-text {
  font-size: normal;
  font-weight: normal;
}

select {
  height: 25px;
  background-color: rgb(63, 63, 63);
  color: rgb(255, 255, 255);
  margin: 10px;
  font-style: normal;
  border: 1px solid rgb(93, 93, 93);
  padding: auto;
  text-justify: distribute;
  border-radius: 3px;
}

.select-1 {
  width: 70px;
}

.select-2 {
  width: 110px;
}

.select-3 {
  width: 150px;
}

.form-1 {
  display: grid;
  width: calc(100% - 20px);
  margin: 10px;
  grid-template-rows: 35px, 5fr, 35px;
  grid-template-columns: auto;
}

.form-2 {
  display: grid;
  gap: 10px;
  margin: 10px;
  grid-template-columns: [first] 1fr, [second] 1fr;
  grid-template-areas: "form form";
}

.form-2-rows {
  display: grid;
  width: first;
  grid-template-rows: 35px, 5fr, 35px;
  grid-template-columns: auto;
}

.checkbox-1 {
  display: grid;
  grid-template-columns: [Title] 1fr [Object] 1fr [Spam] 2fr;
  grid-template-areas: "Title Object Spam";
  justify-content: start;
  align-items: center;
  margin-bottom: 12px;
}

input[type=checkbox] {
  display: grid;
  place-content: center;
  -webkit-appearance: none;
  appearance: none;
  background-color: rgb(30, 30, 30);
  font: inherit;
  color: rgb(255, 255, 255);
  width: 25px;
  height: 25px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 1px;
  transform: translateY(-0.075em);
}

input[type=checkbox]::before {
  content: "";
  width: 15px;
  height: 15px;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em white;
}

input[type=checkbox]:checked::before {
  transform: scale(1);
}

* {
  margin: 0;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.colum {
  flex: 1;
  padding: 0 15px;
}

.border_black {
  border: 1px solid black;
}

.colum-small-1 {
  flex-basis: 8.33%;
}

.colum-small-2 {
  flex-basis: 16.66%;
}

.colum-small-3 {
  flex-basis: 25%;
}

.colum-small-4 {
  flex-basis: 33.33%;
}

.colum-small-5 {
  flex-basis: 41.66%;
}

.colum-small-6 {
  flex-basis: 50%;
}

.colum-small-7 {
  flex-basis: 58.33%;
}

.colum-small-8 {
  flex-basis: 66.66%;
}

.colum-small-9 {
  flex-basis: 75%;
}

.colum-small-10 {
  flex-basis: 83.33%;
}

.colum-small-11 {
  flex-basis: 91.66%;
}

.colum-small-12 {
  flex-basis: 100%;
}

.colum-medium-1 {
  flex-basis: 8.33%;
}

.colum-medium-2 {
  flex-basis: 16.66%;
}

.colum-medium-3 {
  flex-basis: 25%;
}

.colum-medium-4 {
  flex-basis: 33.33%;
}

.colum-medium-5 {
  flex-basis: 41.66%;
}

.colum-medium-6 {
  flex-basis: 50%;
}

.colum-medium-7 {
  flex-basis: 58.33%;
}

.colum-medium-8 {
  flex-basis: 66.66%;
}

.colum-medium-9 {
  flex-basis: 75%;
}

.colum-medium-10 {
  flex-basis: 83.33%;
}

.colum-medium-11 {
  flex-basis: 91.66%;
}

.colum-medium-12 {
  flex-basis: 100%;
}

.colum-large-1 {
  flex-basis: 8.33%;
}

.colum-large-2 {
  flex-basis: 16.66%;
}

.colum-large-3 {
  flex-basis: 25%;
}

.colum-large-4 {
  flex-basis: 33.33%;
}

.colum-large-5 {
  flex-basis: 41.66%;
}

.colum-large-6 {
  flex-basis: 50%;
}

.colum-large-7 {
  flex-basis: 58.33%;
}

.colum-large-8 {
  flex-basis: 66.66%;
}

.colum-large-9 {
  flex-basis: 75%;
}

.colum-large-10 {
  flex-basis: 83.33%;
}

.colum-large-11 {
  flex-basis: 91.66%;
}

.colum-large-12 {
  flex-basis: 100%;
}

@media (max-width: 576px) {
  .colum-small-1, .colum-small-2, .colum-small-3, .colum-small-4, .colum-small-5, .colum-small-6, .colum-small-7,
  .colum-small-8, .colum-small-9, .colum-small-10, .colum-small-11, .colum-small-12 {
    flex-basis: 100%;
  }
}
@media (max-width: 768px) {
  .colum-medium-1, .colum-medium-2, .colum-medium-3, .colum-medium-4, .colum-medium-5, .colum-medium-6, .colum-medium-7,
  .colum-medium-8, .colum-medium-9, .colum-medium-10, .colum-medium-11, .colum-medium-12 {
    flex-basis: 100%;
  }
}
@media (max-width: 991px) {
  .colum-large-1, .colum-large-2, .colum-large-3, .colum-large-4, .colum-large-5, .colum-large-6, .colum-large-7,
  .colum-large-8, .colum-large-9, .colum-large-10, .colum-large-11, .colum-large-12 {
    flex-basis: 100%;
  }
}
.sidebar {
  margin: 0;
  padding: 0;
  width: 250px;
  background-color: rgb(30, 30, 30);
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: rgb(255, 255, 255);
  padding: 8px;
  text-decoration: none;
}

.sidebar h3 {
  display: block;
  background-color: rgb(63, 63, 63);
  color: rgb(255, 255, 255);
  padding: 15px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: rgb(59, 176, 150);
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: rgb(63, 63, 63);
  color: white;
}

div.content {
  margin-left: 150px;
  padding: 1px 8px;
  height: 1000px;
}

@media screen and (max-width: 800px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
}
@media screen and (max-width: 500px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
.flex-container {
  display: flex;
}

.flex-align-right {
  justify-content: flex-end;
}

.flex-align-left {
  justify-content: flex-start;
}

.flex-align-up {
  align-items: flex-start;
}

.flex-align-down {
  align-items: flex-end;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.bg-black {
  background-color: rgb(30, 30, 30);
}

.bg-ligth {
  background-color: rgb(255, 255, 255);
}

.bg-dark {
  background-color: rgb(63, 63, 63);
}

.bg-gray {
  background-color: rgb(93, 93, 93);
}

.bg-AzulOpaco {
  background-color: rgb(114, 168, 206);
}

.bg-Primary {
  background-color: rgb(59, 176, 150);
}

.bg-Secondary {
  background-color: #FE6244;
}

.bg-RedDark {
  background-color: rgb(170, 46, 35);
}

.bg-AquaCla {
  background-color: rgb(145, 198, 172);
}

.bg-VeDark {
  background-color: rgb(45, 75, 57);
}

.bg-GrayGreem {
  background-color: rgb(116, 151, 102);
}

.bg-lightOs {
  background-color: rgb(98, 196, 208);
}

.bg-Gris1 {
  background-color: rgba(249, 249, 250, 0.37);
}

.bg-AmarilloPV {
  background-color: rgb(245, 217, 105);
}

.bg-LilaPV {
  background-color: rgb(209, 177, 204);
}

.margin-1 {
  margin: 10px;
}

.margin-2 {
  margin: 20px;
}

.margin-3 {
  margin: 30px;
}

.margin-4 {
  margin: 40px;
}

.margin-5 {
  margin: 50px;
}

.margin-6 {
  margin: 60px;
}

.margin-7 {
  margin: 70px;
}

.margin-8 {
  margin: 80px;
}

.margin-9 {
  margin: 90px;
}

.margin-10 {
  margin: 100px;
}

.margin-right-1 {
  margin-right: 10px;
}

.margin-right-2 {
  margin-right: 20px;
}

.margin-right-3 {
  margin-right: 30px;
}

.margin-right-4 {
  margin-right: 40px;
}

.margin-right-5 {
  margin-right: 50px;
}

.margin-right-6 {
  margin-right: 60px;
}

.margin-right-7 {
  margin-right: 70px;
}

.margin-right-8 {
  margin-right: 80px;
}

.margin-right-9 {
  margin-right: 90px;
}

.margin-right-10 {
  margin-right: 100px;
}

.margin-left-1 {
  margin-left: 10px;
}

.margin-left-2 {
  margin-left: 20px;
}

.margin-left-3 {
  margin-left: 30px;
}

.margin-left-4 {
  margin-left: 40px;
}

.margin-left-5 {
  margin-left: 50px;
}

.margin-left-6 {
  margin-left: 60px;
}

.margin-left-7 {
  margin-left: 70px;
}

.margin-left-8 {
  margin-left: 80px;
}

.margin-left-9 {
  margin-left: 90px;
}

.margin-left-10 {
  margin-left: 100px;
}

.margin-bottom-1 {
  margin-bottom: 10px;
}

.margin-bottom-2 {
  margin-bottom: 20px;
}

.margin-bottom-3 {
  margin-bottom: 30px;
}

.margin-bottom-4 {
  margin-bottom: 40px;
}

.margin-bottom-5 {
  margin-bottom: 50px;
}

.margin-bottom-6 {
  margin-bottom: 60px;
}

.margin-bottom-7 {
  margin-bottom: 70px;
}

.margin-bottom-8 {
  margin-bottom: 80px;
}

.margin-bottom-9 {
  margin-bottom: 90px;
}

.margin-bottom-10 {
  margin-bottom: 100px;
}

.margin-top-1 {
  margin-top: 10px;
}

.margin-top-2 {
  margin-top: 20px;
}

.margin-top-3 {
  margin-top: 30px;
}

.margin-top-4 {
  margin-top: 40px;
}

.margin-top-5 {
  margin-top: 50px;
}

.margin-top-6 {
  margin-top: 60px;
}

.margin-top-7 {
  margin-top: 70px;
}

.margin-top-8 {
  margin-top: 80px;
}

.margin-top-9 {
  margin-top: 90px;
}

.margin-top-10 {
  margin-top: 100px;
}

.padding-1 {
  padding: 10px;
}

.padding-2 {
  padding: 20px;
}

.padding-3 {
  padding: 30px;
}

.padding-4 {
  padding: 40px;
}

.padding-5 {
  padding: 50px;
}

.padding-6 {
  padding: 60px;
}

.padding-7 {
  padding: 70px;
}

.padding-8 {
  padding: 80px;
}

.padding-9 {
  padding: 90px;
}

.padding-10 {
  padding: 100px;
}

.padding-right-1 {
  padding-right: 10px;
}

.padding-right-2 {
  padding-right: 20px;
}

.padding-right-3 {
  padding-right: 30px;
}

.padding-right-4 {
  padding-right: 40px;
}

.padding-right-5 {
  padding-right: 50px;
}

.padding-right-6 {
  padding-right: 60px;
}

.padding-right-7 {
  padding-right: 70px;
}

.padding-right-8 {
  padding-right: 80px;
}

.padding-right-9 {
  padding-right: 90px;
}

.padding-right-10 {
  padding-right: 100px;
}

.padding-left-1 {
  padding-left: 10px;
}

.padding-left-2 {
  padding-left: 20px;
}

.padding-left-3 {
  padding-left: 30px;
}

.padding-left-4 {
  padding-left: 40px;
}

.padding-left-5 {
  padding-left: 50px;
}

.padding-left-6 {
  padding-left: 60px;
}

.padding-left-7 {
  padding-left: 70px;
}

.padding-left-8 {
  padding-left: 80px;
}

.padding-left-9 {
  padding-left: 90px;
}

.padding-left-10 {
  padding-left: 100px;
}

.padding-bottom-1 {
  padding-bottom: 10px;
}

.padding-bottom-2 {
  padding-bottom: 20px;
}

.padding-bottom-3 {
  padding-bottom: 30px;
}

.padding-bottom-4 {
  padding-bottom: 40px;
}

.padding-bottom-5 {
  padding-bottom: 50px;
}

.padding-bottom-6 {
  padding-bottom: 60px;
}

.padding-bottom-7 {
  padding-bottom: 70px;
}

.padding-bottom-8 {
  padding-bottom: 80px;
}

.padding-bottom-9 {
  padding-bottom: 90px;
}

.padding-bottom-10 {
  padding-bottom: 100px;
}

.padding-top-1 {
  padding-top: 10px;
}

.padding-top-2 {
  padding-top: 20px;
}

.padding-top-3 {
  padding-top: 30px;
}

.padding-top-4 {
  padding-top: 40px;
}

.padding-top-5 {
  padding-top: 50px;
}

.padding-top-6 {
  padding-top: 60px;
}

.padding-top-7 {
  padding-top: 70px;
}

.padding-top-8 {
  padding-top: 80px;
}

.padding-top-9 {
  padding-top: 90px;
}

.padding-top-10 {
  padding-top: 100px;
}

.border-1 {
  border: 10px;
}

.border-2 {
  border: 20px;
}

.border-3 {
  border: 30px;
}

.border-4 {
  border: 40px;
}

.border-5 {
  border: 50px;
}

.border-6 {
  border: 60px;
}

.border-7 {
  border: 70px;
}

.border-8 {
  border: 80px;
}

.border-9 {
  border: 90px;
}

.border-10 {
  border: 100px;
}

.border-right-1 {
  border-right-width: 10px;
}

.border-right-2 {
  border-right: 20px;
}

.border-right-3 {
  border-right: 30px;
}

.border-right-4 {
  border-right: 40px;
}

.border-right-5 {
  border-right: 50px;
}

.border-right-6 {
  border-right: 60px;
}

.border-right-7 {
  border-right: 70px;
}

.border-right-8 {
  border-right: 80px;
}

.border-right-9 {
  border-right: 90px;
}

.border-right-10 {
  border-right: 100px;
}

.border-left-1 {
  border-left: 10px;
}

.border-left-2 {
  border-left: 20px;
}

.border-left-3 {
  border-left: 30px;
}

.border-left-4 {
  border-left: 40px;
}

.border-left-5 {
  border-left: 50px;
}

.border-left-6 {
  border-left: 60px;
}

.border-left-7 {
  border-left: 70px;
}

.border-left-8 {
  border-left: 80px;
}

.border-left-9 {
  border-left: 90px;
}

.border-left-10 {
  border-left: 100px;
}

.border-bottom-1 {
  border-bottom: 10px;
}

.border-bottom-2 {
  border-bottom: 20px;
}

.border-bottom-3 {
  border-bottom: 30px;
}

.border-bottom-4 {
  border-bottom: 40px;
}

.border-bottom-5 {
  border-bottom: 50px;
}

.border-bottom-6 {
  border-bottom: 60px;
}

.border-bottom-7 {
  border-bottom: 70px;
}

.border-bottom-8 {
  border-bottom: 80px;
}

.border-bottom-9 {
  border-bottom: 90px;
}

.border-bottom-10 {
  border-bottom: 100px;
}

.border-top-1 {
  border-top: 10px;
}

.border-top-2 {
  border-top: 20px;
}

.border-top-3 {
  border-top: 30px;
}

.border-top-4 {
  border-top: 40px;
}

.border-top-5 {
  border-top: 50px;
}

.border-top-6 {
  border-top: 60px;
}

.border-top-7 {
  border-top: 70px;
}

.border-top-8 {
  border-top: 80px;
}

.border-top-9 {
  border-top: 90px;
}

.border-top-10 {
  border-top: 100px;
}

.border-right-solid {
  border-right-style: solid;
}

.border-left-solid {
  border-left-style: solid;
}

.border-bottom-solid {
  border-bottom-style: solid;
}

.border-top-solid {
  border-top-style: solid;
}

.border-black {
  border-color: rgb(30, 30, 30);
}

.border-dark {
  border-color: rgb(63, 63, 63);
}

.border-ligth {
  border-color: rgb(255, 255, 255);
}

.border-gray {
  border-color: rgb(93, 93, 93);
}

.border-hidden {
  border-style: hidden;
}

.border-dotted {
  border-style: dotted;
}

.border-dashed {
  border-style: dashed;
}

.border-solid {
  border-style: solid;
}

.border-double {
  border-style: double;
}

.border-ridge {
  border-style: ridge;
}

.border-width-0 {
  border-width: 2px;
}

.border-width-1 {
  border-width: 5px;
}

.border-width-2 {
  border-width: 10px;
}

.border-width-3 {
  border-width: 20px;
}

.border-width-4 {
  border-width: 30px;
}

.border-width-5 {
  border-width: 40px;
}

.border-width-6 {
  border-width: 50px;
}

.opacity-0 {
  opacity: 0;
}

.opacity-1 {
  opacity: 0.1;
}

.opacity-2 {
  opacity: 0.2;
}

.opacity-3 {
  opacity: 0.3;
}

.opacity-4 {
  opacity: 0.4;
}

.opacity-5 {
  opacity: 0.5;
}

.opacity-6 {
  opacity: 0.6;
}

.opacity-7 {
  opacity: 0.7;
}

.opacity-8 {
  opacity: 0.8;
}

.opacity-9 {
  opacity: 0.9;
}

.rounded-1 {
  border-radius: 2px;
}

.rounded-2 {
  border-radius: 5px;
}

.rounded-3 {
  border-radius: 10px;
}

.rounded-4 {
  border-radius: 20px;
}

.rounded-5 {
  border-radius: 30px;
}

.rounded-6 {
  border-radius: 40px;
}

.rounded-7 {
  border-radius: 50px;
}

.rounded-8 {
  border-radius: 60px;
}

.rounded-9 {
  border-radius: 70px;
}

.rounded-TopLeft-1 {
  border-top-left-radius: 2px;
}

.rounded-TopLeft-2 {
  border-top-left-radius: 5px;
}

.rounded-TopLeft-3 {
  border-top-left-radius: 10px;
}

.rounded-TopLeft-4 {
  border-top-left-radius: 20px;
}

.rounded-TopLeft-5 {
  border-top-left-radius: 30px;
}

.rounded-TopLeft-6 {
  border-top-left-radius: 40px;
}

.rounded-TopLeft-7 {
  border-top-left-radius: 50px;
}

.rounded-TopLeft-8 {
  border-top-left-radius: 60px;
}

.rounded-TopLeft-9 {
  border-top-left-radius: 70px;
}

.rounded-TopRight-1 {
  border-top-right-radius: 2px;
}

.rounded-TopRight-2 {
  border-top-right-radius: 5px;
}

.rounded-TopRight-3 {
  border-top-right-radius: 10px;
}

.rounded-TopRight-4 {
  border-top-right-radius: 20px;
}

.rounded-TopRight-5 {
  border-top-right-radius: 30px;
}

.rounded-TopRight-6 {
  border-top-right-radius: 40px;
}

.rounded-TopRight-7 {
  border-top-right-radius: 50px;
}

.rounded-TopRight-8 {
  border-top-right-radius: 60px;
}

.rounded-TopRight-9 {
  border-top-right-radius: 70px;
}

.rounded-BottomLeft-1 {
  border-bottom-left-radius: 2px;
}

.rounded-BottomLeft-2 {
  border-bottom-left-radius: 5px;
}

.rounded-BottomLeft-3 {
  border-bottom-left-radius: 10px;
}

.rounded-BottomLeft-4 {
  border-bottom-left-radius: 20px;
}

.rounded-BottomLeft-5 {
  border-bottom-left-radius: 30px;
}

.rounded-BottomLeft-6 {
  border-bottom-left-radius: 40px;
}

.rounded-BottomLeft-7 {
  border-bottom-left-radius: 50px;
}

.rounded-BottomLeft-8 {
  border-bottom-left-radius: 60px;
}

.rounded-BottomLeft-9 {
  border-bottom-left-radius: 70px;
}

.rounded-BottomRight-1 {
  border-bottom-right-radius: 2px;
}

.rounded-BottomRight-2 {
  border-bottom-right-radius: 5px;
}

.rounded-BottomRight-3 {
  border-bottom-right-radius: 10px;
}

.rounded-BottomRight-4 {
  border-bottom-right-radius: 20px;
}

.rounded-BottomRight-5 {
  border-bottom-right-radius: 30px;
}

.rounded-BottomRight-6 {
  border-bottom-right-radius: 40px;
}

.rounded-BottomRight-7 {
  border-bottom-right-radius: 50px;
}

.rounded-BottomRight-8 {
  border-bottom-right-radius: 60px;
}

.rounded-BottomRight-9 {
  border-bottom-right-radius: 70px;
}

.rounded {
  border-radius: 100%;
}

.shadow-left-1 {
  box-shadow: -5px 5px 10px;
}

.shadow-left-2 {
  box-shadow: -10px 10px 10px;
}

.shadow-left-3 {
  box-shadow: -15px 15px 15px;
}

.shadow-mid-1 {
  box-shadow: 0px 5px 10px;
}

.shadow-mid-2 {
  box-shadow: 0px 10px 10px;
}

.shadow-mid-3 {
  box-shadow: 0px 15px 15px;
}

.shadow-right-1 {
  box-shadow: 5px 5px 10px;
}

.shadow-right-2 {
  box-shadow: 10px 10px 10px;
}

.shadow-right-3 {
  box-shadow: 15px 15px 15px;
}

.text-1 {
  font-size: smaller;
}

.text-2 {
  font-size: small;
}

.text-3 {
  font-size: medium;
}

.text-4 {
  font-size: large;
}

.text-5 {
  font-size: larger;
}

.text-w-1 {
  font-weight: 100;
}

.text-w-2 {
  font-weight: 200;
}

.text-w-3 {
  font-weight: 300;
}

.text-w-4 {
  font-weight: 400;
}

.text-w-5 {
  font-weight: 500;
}

.text-w-6 {
  font-weight: 600;
}

.text-w-7 {
  font-weight: 700;
}

.text-w-8 {
  font-weight: 800;
}

.text-ligth {
  color: rgb(255, 255, 255);
}

.text-dark {
  color: rgb(30, 30, 30);
}

.text.red {
  color: rgb(170, 46, 35);
}

.text-primary {
  color: rgb(59, 176, 150);
}

.text-calibri {
  font-family: Calibri;
}

.text-arial {
  font-family: Arial;
}

.text-timesnr {
  font-family: "Times New Roman";
}

.text-veranda {
  font-family: Verdana;
}

.text-thanoma {
  font-family: Tahoma;
}

.text-style-italic {
  font-style: italic;
}

.text-style-oblique {
  font-style: oblique;
}

.text-style-normal {
  font-style: normal;
}

/*# sourceMappingURL=style.css.map */
